#services {
    background-color: var(--color-bg-variant);
    padding: 100px 0 100px 0;
}
.services__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    /* height: auto; */
    place-items: center;
}
.service {
    width: 100%;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.service__auto {
    background-image: linear-gradient(rgba(255, 255, 255, 0.0), var(--color-bg-variant)), url(../../assets/accident.jpeg);
}
.service__home {
    background-image: linear-gradient(rgba(255, 255, 255, 0.0), var(--color-bg-variant)), url(../../assets/home.jpeg);
}
.service__life {
    background-image: linear-gradient(rgba(255, 255, 255, 0.0), var(--color-bg-variant)), url(../../assets/life.jpeg);
}
.service__umbrella {
    background-image: linear-gradient(rgba(255, 255, 255, 0.0), var(--color-bg-variant)), url(../../assets/umbrella.jpeg);
}
.service.service:hover {
    cursor: pointer;
    box-shadow: 1px 1px 0px 1px var(--color-primary), 1px 1px 1px 1px var(--color-bg-variant);
    border: 15px solid var(--color-bg-variant);
    transition: .8s;
}
.text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-primary);
}
/*=========== MEDIA QUERIES (Medium devices, tablets) ========*/
@media screen and (max-width: 1024px) {
    .services__container {
        grid-template-columns: 1fr;
        gap: 4rem;
        height: auto;
    }
    .service {
        height: 50vh;
        width: 100%;
    }
}
/*=========== MEDIA QUERIES (Small devices, mobilephone) ========*/
@media screen and (max-width: 600px) {
    .services__container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
        height: auto;
    }
    .service {
        height: 30vh;
        width: 100%;
    }
}