
#about {
    display: flex;
    position:relative;
    background-image: url(../../assets/jelly-fish.gif);
    background-position: right;
    background-size: 40% 100%;
    background-repeat: no-repeat;
    z-index: 0;
}
#about::before {
    content:"";
    position: absolute;
    z-index:-1;
    top:0;
    left:0;
    right:0;
    bottom:0;
    clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 1% 100%);
    background: linear-gradient(20deg, transparent, var(--color-background), transparent);;
}
.about__container {
    display: grid;
    grid-template-columns: 80%;
    gap: 10%;
}
.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}
.about__card {
    background-color: var(--color-bg-variant);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: default;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 1px solid transparent;
    border-radius: .2rem;
    text-align: center;
    transition: var(--transition);
    box-shadow: 0 4px 8px 0 var(--color-box-shadow), 0 6px 20px 0 var(--color-box-shadow);
}
.about__card h5 {
    font-size: 1.5rem;
    color: var(--color-primary);
    text-shadow: .3px .3px var(--color-white);
}
.about__content {
    margin: 10rem 0 0 0;
}
.about__content p {
    margin: 2rem 0 2.6rem;
    color: black;
    font-size: 1.1rem;
}
.about__title {
    font-size: 2rem;
}
.mark__title {
    background-color: var(--color-bg-variant);
    color: var(--color-primary);
    text-shadow: .2px .2px var(--color-white);
    padding: 10px;
    font-size: 1.25rem;
}
mark {
    background-color: rgba(240, 128, 128, 0.575);
}
hr.solid-one {
    width: 55%;
    border-top: 3px solid var(--color-bg-variant);
}
hr.solid-two {
    width: 115%;
    border-top: 3px solid var(--color-bg-variant);
}
/*=========== MEDIA QUERIES (Medium devices, tablets) ========*/
@media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 1fr;
    }
    #about {
    background-image: url(../../assets/jelly-fish.gif);
    background-position:top -100px right -50px;
    background-size: 100% 30%;;
    background-repeat: no-repeat;
    z-index: 0;
    }
    .about__content p {
        margin: 1rem 0 1.5rem
    }
}
/*=========== MEDIA QUERIES (Small devices, mobilephone) ========*/
@media screen and (max-width: 600px) {
    .about__container {
        grid-template-columns: 1fr;
    }
    #about {
    background-image: url(../../assets/jelly-fish.gif);
    background-position:top -100px right 50px;
    background-size: 100% 25%;
    background-repeat: no-repeat;
    z-index: 0;
    }
    .about__cards {
        grid-template-columns: 1fr;
        margin: 1rem;
    }
    .mark__title {
        text-shadow: .05px .05px var(--color-white);
    }

}