#contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("../../assets/family.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    padding-top: 10rem;
    padding-bottom: 50rem;
    overflow: hidden;
}
.container.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 12%;
}
.contact__options {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-right: 5rem;
}
.contact__option {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: .2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    box-shadow: 0 4px 8px 0 var(--color-box-shadow), 0 6px 20px 0 var(--color-box-shadow);
}
.contact__option:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    color: var(--color-white);
}
.contact__option-icon {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.contact__option a {
    margin-top: .7rem;
    display: inline-block;
    font-size: 0.8rem;
}
.contact__option a:hover {
    color: var(--color-white);
}
.contact__option h5 {
    color: var(--color-white);
}
.container.contact__container button {
    background-color: transparent;
    margin-top: 2rem;
    height: 4rem;
    border-color: var(--color-primary);
    border-radius: .2rem;
}
.container.contact__container button:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}
.btn.btn-primary-cta {
    background-color: var(--color-bg-variant);
    color: var(--color-white);
    font-size: 1rem;
    box-shadow: 0 4px 8px 0 var(--color-box-shadow), 0 6px 20px 0 var(--color-box-shadow);
}
.btn.btn-primary-cta:hover {
    background-color: transparent;
    color: var(--color-primary);
    border-color: var(--color-bg-variant);
    font-size: 1rem;
}
.arrow.right {
    border: solid rgb(250, 241, 241);
    border-width: 0 3px 3px 0;
    display: inline-block;
    margin-left: 1rem;
    padding: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
/*================FORM================*/
form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.table {
    display: flex;
}
.form__name {
    display: flex;
}
.form__options {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: var(--color-primary-variant);
    border: 2px solid var(--color-bg);
    resize: none;
    color: var(--color-white);
    font-size: 1.2rem;
}
input, .textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: var(--color-primary-variant);
    border: 2px solid var(--color-bg);
    resize: none;
    color: var(--color-white);
    font-size: 1.2rem;
}
.textarea::placeholder, input::placeholder {
    color: var(--color-primary);
    font-size: 1rem;
}
.textarea:hover, input:hover {
    background: rgba(166, 204, 252, 0.332);
    color: var(--color-white);
}

/*=========== MEDIA QUERIES (Medium devices, tablets) ========*/
@media screen and (max-width: 1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    #contact {
        height: auto;
        background-position: center;
        padding-bottom: 0rem;
    }
    .contact__options {
        margin-right: 0;
    }
    .container.contact__container button {
    margin-bottom: 2rem;
    }
}
/*=========== MEDIA QUERIES (Small devices, mobilephone) ========*/
@media screen and (max-width: 600px) {
    .container.contact__container {
        width: var(--container-width-sm);
    }
    #contact {
        height: auto;
        background-position: center;
    }
    .contact__options {
        margin: auto;
    }
    .container.contact__container button {
    margin-bottom: 2rem;
    }
}