/* #footer {
    background: pink;
    height: 50vh;
} */
footer {
    background: var(--color-bg-variant);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
}
footer a {
    color: var(--color-white);
}
footer a:hover {
    color: var(--color-primary);
}
#footer.footer__logo {
    align-items: center;
    display: inline-block;
}
.footer__logo h6{
    font-weight: 500;
}
.owner__name {
    font-size: 1rem;
    color: gray;
    margin-bottom:2rem;
}
.farmers__logo {
    margin-bottom: 1rem;
    width: 200px;
    display: inline-block;
}
.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}
.footer__social {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}
.farmers__logo {
        width: 150px;
    }
.footer__social-icon {
    font-size: 2rem;
}
.footer__social-icon:hover {
    color: var(--color-primary);
}
.footer__social a {
    background: var(--color-bg);
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}
.footer__social a:hover {
    background: transparent;
    border-color: var(--color-primary);
}
.owner__name:hover {
    color: var(--color-primary) !important;
}
.footer__copyright {
    margin-bottom: 8rem;
    color: var(--color-white);
    font-size: 1rem;
}
/*=========== MEDIA QUERIES (Small devices, mobilephone) ========*/
@media screen and (max-width: 600px) {
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }
    .foter__social {
        margin-bottom: 2.6rem;
    }
    #footer {
        height: auto;
    }
    .farmers__logo {
        width: 100px;
    }
}